/*  your css code here. If applicable */
body{
	display:flex;
	flex-direction:row;
	justify-content:center;
	margin-top:40vh;
    
}
.container{
	height:30vh;
	width:50vw;
	background-color:lightgray;
	border:5px black solid;
	border-radius:40px;
	display:flex;
	justify-content:center;
	gap:10px;

}
.box{
	border-radius:60px;
	height:80px;
	width:80px;
	margin-top:35px;
}
.green{
	background-color:green;
}
.yellow{
	background-color:yellow;
}
.red{
	background-color:red;
}