.container {
  width: 300px;
  padding: 20px;
  border: 2px solid #000;
  border-radius: 50px;
  margin: 50px auto;        /* centers the container */
  text-align: center;       /* aligns blocks inline */
}

.red,
.green,
.yellow {
  width: 60px;
  height: 60px;
  border-radius: 50%;       /* makes the blocks circular */
  display: inline-block;
  margin: 5px;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.red {
  background-color: red;
}
